<div class="sign-up-form row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Join Agendify Today!</h4>
		<hr/>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="contact-input input-group col-md-6">
			  <%= f.label :email%><%= f.email_field :email, autofocus: true, class: 'form-control' %>
		  </div>

		  <div class="contact-input input-group col-md-6">
		  	<%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
		    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
		  </div>

		  <div class="contact-input input-group col-md-6">
		  	<%= f.label :password_confirmation %>
		    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
		  </div>

		  <div class="contact-input input-group col-md-6">
		  	<%= f.submit "Sign up", class: 'btn btn-primary' %>
		  </div>

		<% end %>
	</div>
</div>
