<div class="login-form row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Log in</h4>
		<hr/>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="contact-input input-group col-md-6">
			  <%= f.label :email%><%= f.email_field :email, autofocus: true, class: 'form-control' %>
		  </div>

		  <div class="contact-input input-group col-md-6">
		  	<%= f.label :password %>
		    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
		  </div>

		  <div class="contact-input input-group col-md-6">
		  	<%= f.submit "Log in", class: 'btn btn-primary' %>
		  </div>

		<% end %>
	</div>
</div>

